ol {
  background-color: yellow;
}
.verde {
  color: rgb(5, 105, 5);
}

.font {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  color: red;
}

h1 {
  font-size: 40px;
  border: 1px solid black;
}

li {
  font-size: 20px;
}

em {
  font-weight: 600;
}

.azul {
  color: blue;
}

.li {
  background-color: palevioletred;
}

.laranja:hover {
  font-weight: 600;
  color: orangered;
}

.green:hover {
  color: green;
  font-weight: 700;
}

.preto:hover {
  color: black;
  font-weight: 600;
}

.amarelo:hover {
  color: yellow;
  font-weight: 600;
}
