.super-mario {
  width: 200px;
  position: absolute;
  bottom: 20px;
  left: 550px;
}

.goomba {
  width: 100px;
}

.baloon {
  bottom: 40px;
}

.speech {
  font-size: 25px;
  position: absolute;
  left: 345px;
  top: 120px;
}

.bowser {
  width: 200px;
}
